<!DOCTYPE html>
<html lang="en" class="no-js">
   <!-- BEGIN HEAD -->

   
<body>		
			
   <!--header-->
   <!--header ends-->
   <!-- BEGIN CONTAINER -->
   <div class="page-container">
   <!-- BEGIN SIDEBAR -->

   <!-- END SIDEBAR -->
   
   <!-- BEGIN CONTENT -->
       <div class="page-content-wrapper">
	<div class="standalone-page-content">
				<div class="row">
					<div class="col-md-12 col-sm-12 ">
						<h3 class="page-title">
							<i class="fa fa-search pull-left font25 marg_top10"></i>View Employee Details
						</h3>
					</div>
				</div>             <div class="row">
                <div class="col-md-12 col-sm-12 ">
                   
                </div>
             </div>
             <!-- END PAGE HEADING-->



			
	

			
			
             <!-- Start Search section -->
             <div class="row">

                   <!-- Start Editable Search section -->


                      <div class="clearfix" id="searchadvanced1">
                         <form id="emp_search_form" method="post" name="emp_search_form">
                            <!-- start section -->
                            <div class="terminal_main" id="open-form">
                               <div class="clearfix">
                                                              
                                  <div class="col-md-12 col-sm-12" >
                                  
                                      <div class="col-md-7 col-sm-7">
                                        <div class="form-horizontal form-left ">
                                           <div class="form-group">
                                              <label class="col-md-4 col-sm-4 control-label texalignright">Employee id
 												<i title="Employee id"
                                                        data-original-title=""
                                                        data-content=""
                                                        data-placement="top"
                                                         data-trigger="hover"
                                                        data-toggle="tooltip"
                                                        class="fa fa-question-circle popovers"></i>
                                              </label>

                                              <div class="col-md-3 col-sm-3">
                                                    <input name="empid" id="empid" value=""
                                                    class="form-control srch"  >
                                              </div>
                                           </div>
                                        </div>

 
          
                                                
                                     
                                     </div>
 
                                  </div>
                               </div>
                               <div class="clearfix margin-bottom-15">

                                  <div class="col-md-8 col-sm-8">
                                     <div class="margin-top-25">
                                        <button type="button" id="searchEmp" class="btn blue btn-md pull-right" style="margin-right:162px;">
                                        Search
                                        </button>
                                     </div>
                                  </div>


                               </div>
                            </div>
                            <!-- end section -->

                         </form>
                      </div>

                   <div id="renderSearchResults">
<!--                    <div class="table-scrollable">
                   </div> -->
                   </div>          
                   
                   
                   <!-- Start Editable Search section -->

                <div class="clearfix "></div>
             </div>

  
          </div>
          <!-- END CONTENT -->
       </div>
   </div>
   <!-- END CONTAINER -->
   <!-- BEGIN FOOTER -->
<!--    <div class="footer">
      <div class="footer-inner">
          2014 &copy; Employee Dashboard.
      </div>
      <div class="footer-tools">
          <span class="go-top"><i class="fa fa-angle-up"></i></span>
      </div>
      </div> -->
   <!-- END FOOTER -->




   <!-- END JAVASCRIPTS -->
   <!-- END BODY -->
    <script>

   
   $(document).keypress(function(event) {
	    var keycode = (event.keyCode ? event.keyCode : event.which);
	    if(keycode == '13') {
	        $('#searchEmp').trigger('click');
	    }
	});
   </script>

</body>
   <!-- END BODY -->
</html>